{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}
<h1>Book our transport service</h1>
<p>Thank you for your booking</p>
<p>Here is your confirmation of the booking</p>

{%if transobj %}
<p>Status: {{ status }} </p>
{% endif %}



{% endblock %}